/* Light blue color */
body {
background-color: #ADD8E6;

/* Light gray color */
background-color: #F5F5F5;

/* Beige color */
background-color: #F5DEB3;

/* Purple color */
background-color: #9370DB;

/* Red color */
background-color: #FF0000;

/* Orange color */
background-color: #FFA500;

/* Green color */
background-color: #008000;

/* Yellow color */
background-color: #FFFF00;

/* Pink color */
background-color: #FFC0CB;

/* Brown color */
background-color: #A52A2A;
  }